name: Build and Push to ECR (Dev)

on:
  push:
    tags:
      ## TODO CD에 맞게 수정
      - from-dev-*
env:
  ## TODO CD에 맞게 수정 ( https://github.com/team-caredoc/gitops/tree/main/cd 폴더명과 일치해야함 )
  application-name: front-home
  ## TODO (optional) 위의 application-name과 argoCD의 application-name이 다를경우 입력해 줍니다.
  argo-application-name:
  environment: development

jobs:
  pre-build:
    runs-on: ubuntu-latest
    outputs:
      start-timestamp: ${{ steps.step1.outputs.start-timestamp }}
      application-name: ${{ steps.step2.outputs.application-name }}
      argo-application-name: ${{ steps.step3.outputs.argo-application-name }}
      environment: ${{ steps.step4.outputs.environment }}
    steps:
      - id: step1
        run: echo "start-timestamp=$(date +%s)" >> "$GITHUB_OUTPUT"
      - id: step2
        run: echo "application-name=${{ env.application-name }}" >> "$GITHUB_OUTPUT"
      - id: step3
        run: echo "argo-application-name=${{ env.argo-application-name }}" >> "$GITHUB_OUTPUT"
      - id: step4
        run: echo "environment=${{ env.environment }}" >> "$GITHUB_OUTPUT"

  slack-start:
    needs: pre-build
    uses: team-caredoc/actions/.github/workflows/deploy-start.yaml@main
    with:
      APPLICATION_NAME: ${{ needs.pre-build.outputs.application-name }}
      ENVIRONMENT: ${{ needs.pre-build.outputs.environment }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.ORG_SLACK_WEBHOOK_URL }}

  deploy:
    needs: pre-build
    uses: team-caredoc/actions/.github/workflows/front-nextjs.yaml@main
    with:
      APPLICATION_NAME: ${{ needs.pre-build.outputs.application-name }}
      ARGO_APPLICATION_NAME: ${{ needs.pre-build.outputs.argo-application-name }}
      TAG: ${{ github.ref_name }}
      ORG_ARGO_SERVER_URL: ${{ vars.ORG_DEV_ARGO_SERVER_URL }}
      ENVIRONMENT: ${{ needs.pre-build.outputs.environment }}
    secrets:
      FRONT_ENV_BASE64: ${{ secrets.DEV_FRONT_ENV_BASE64 }}
      ORG_ACTION_PTA: ${{ secrets.ORG_ACTION_PTA }}
      ORG_SLACK_WEBHOOK_URL: ${{ secrets.ORG_SLACK_WEBHOOK_URL }}
      ORG_NPM_REGISTRY_TOKEN: ${{ secrets.ORG_NPM_REGISTRY_TOKEN }}
      ORG_AWS_REGION: ${{ secrets.ORG_DEV_AWS_REGION }}
      ORG_AWS_ACCOUNT_ID: ${{ secrets.ORG_DEV_AWS_ACCOUNT_ID }}
      ORG_AWS_ACCESS_KEY_ID: ${{ secrets.ORG_DEV_AWS_ACCESS_KEY_ID }}
      ORG_AWS_SECRET_ACCESS_KEY: ${{ secrets.ORG_DEV_AWS_SECRET_ACCESS_KEY }}
      ORG_ARGO_USERNAME: ${{ secrets.ORG_DEV_ARGO_USERNAME }}
      ORG_ARGO_PASSWORD: ${{ secrets.ORG_DEV_ARGO_PASSWORD }}

  deploy-done:
    needs: [deploy,pre-build]
    if: ${{ always() }}
    uses: team-caredoc/actions/.github/workflows/deploy-done.yaml@main
    with:
      APPLICATION_NAME: ${{ needs.pre-build.outputs.application-name }}
      DEPLOY_RESULT: ${{ needs.deploy.result }}
      ENVIRONMENT: ${{ needs.pre-build.outputs.environment }}
      START_TIME: ${{ needs.pre-build.outputs.start-timestamp }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.ORG_SLACK_WEBHOOK_URL }}


