name: Build and Push to ECR (Dev)

on:
  push:
    tags:
      ## TODO CD에 맞게 수정
      - mro-web-dev-*
env:
  ## TODO CD에 맞게 수정 ( https://github.com/team-caredoc/gitops/tree/main/cd 폴더명과 일치해야함 )
  application-name: mro-web
  ## TODO (optional) 위의 application-name과 argoCD의 application-name이 다를경우 입력해 줍니다.
  argo-application-name:
  environment: development

jobs:
  # pre-build:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     start-timestamp: ${{ steps.step1.outputs.start-timestamp }}
  #     application-name: ${{ steps.step2.outputs.application-name }}
  #     argo-application-name: ${{ steps.step3.outputs.argo-application-name }}
  #     environment: ${{ steps.step4.outputs.environment }}
  #   steps:
  #     - id: step1
  #       run: echo "start-timestamp=$(date +%s)" >> "$GITHUB_OUTPUT"
  #     - id: step2
  #       run: echo "application-name=${{ env.application-name }}" >> "$GITHUB_OUTPUT"
  #     - id: step3
  #       run: echo "argo-application-name=${{ env.argo-application-name }}" >> "$GITHUB_OUTPUT"
  #     - id: step4
  #       run: echo "environment=${{ env.environment }}" >> "$GITHUB_OUTPUT"

  # slack-start:
  #   needs: pre-build
  #   uses: team-caredoc/actions/.github/workflows/deploy-start.yaml@main
  #   with:
  #     APPLICATION_NAME: ${{ needs.pre-build.outputs.application-name }}
  #     ENVIRONMENT: ${{ needs.pre-build.outputs.environment }}
  #   secrets:
  #     ORG_SLACK_BOT_TOKEN: ${{ secrets.ORG_SLACK_BOT_TOKEN }}

  deploy:
    # needs: pre-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.3.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Setup .npmrc
        run: |
          pnpm config set "//npm.pkg.github.com/:_authToken" "${{ secrets.ACTION_PTA }}"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Deploy to Vercel
        run: |
          npm i -g vercel
          vercel deploy \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --org-id=${{ secrets.VERCEL_ORG_ID }} \
            --project-id=${{ secrets.VERCEL_PROJECT_ID }} \
            --yes

  # deploy-done:
  #   needs: [deploy, pre-build, slack-start]
  #   if: ${{ always() }}
  #   uses: team-caredoc/actions/.github/workflows/deploy-done.yaml@main
  #   with:
  #     APPLICATION_NAME: ${{ needs.pre-build.outputs.application-name }}
  #     DEPLOY_RESULT: ${{ needs.deploy.result }}
  #     ENVIRONMENT: ${{ needs.pre-build.outputs.environment }}
  #     START_TIME: ${{ needs.pre-build.outputs.start-timestamp }}
  #     SLACK_TS: ${{ needs.slack-start.outputs.ts }}
  #   secrets:
  #     ORG_SLACK_BOT_TOKEN: ${{ secrets.ORG_SLACK_BOT_TOKEN }}
